<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xhmyjae">
    <meta name="description" content="A small carousel displaying some Honkai Starrail characters.">
    <title>Carousel Honkai Starrail</title>

    <link rel="stylesheet" href="../style/main.css">
    <script defer src="../scripts/index.js"></script>
</head>
<body>

<div class="carousel">
    <div class="left-btn">
        <img src="../../backend/resources/left-arrow.png" alt="left-arrow">
    </div>
    <div class="image img1">
        <img src="../../backend/resources/img1.png" alt="img1">
        <p class="image-title">Dan Heng</p>
    </div>
    <div class="image img2 hide">
        <img src="../../backend/resources/img2.png" alt="img2">
        <p class="image-title">March 7th</p>
    </div>
    <div class="image img3 hide">
        <img src="../../backend/resources/img3.png" alt="img3">
        <p class="image-title">Himeko</p>
    </div>
    <div class="image img4 hide">
        <img src="../../backend/resources/img4.png" alt="img4">
        <p class="image-title">Welt</p>
    </div>
    <div class="image img5 hide">
        <img src="../../backend/resources/img5.png" alt="img5">
        <p class="image-title">Sampo</p>
    </div>
    <div class="image img6 hide">
        <img src="../../backend/resources/img6.png" alt="img6">
        <p class="image-title">Gepard</p>
    </div>
    <div class="image img7 hide">
        <img src="../../backend/resources/img7.png" alt="img7">
        <p class="image-title">Bronya</p>
    </div>
    <div class="image img8 hide">
        <img src="../../backend/resources/img8.png" alt="img8">
        <p class="image-title">Pela</p>
    </div>
    <div class="image img9 hide">
        <img src="../../backend/resources/img9.png" alt="img9">
        <p class="image-title">Serval</p>
    </div>
    <div class="image img10 hide">
        <img src="../../backend/resources/img10.png" alt="img10">
        <p class="image-title">Natasha</p>
    </div>
    <div class="image img11 hide">
        <img src="../../backend/resources/img11.png" alt="img11">
        <p class="image-title">Seele</p>
    </div>
    <div class="image img12 hide">
        <img src="../../backend/resources/img12.png" alt="img12">
        <p class="image-title">Clara</p>
    </div>
    <div class="right-btn">
        <img src="../../backend/resources/right-arrow.png" alt="right-arrow">
    </div>
</div>

<div id="carousel-nav"></div>

</body>
</html>